pandas
mlflow
notebook
numpy
scikit-learn
matplotlib
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
Flask
Flask-Cors


#/Users/reddysaragada/Desktop/KrishNaik/datascienceproject/venv/bin/pip install mlflow==2.2.2

